//@import '/src/sass/variables';
@import './../../sass/variables';

header {
  @include flexCenterColumn();
  width: 100%;
  height: 100%;
  padding: 5em 0;
  box-sizing: border-box;

  @include breakpoint(sm) {
    height: 100%;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .avatar {
    flex: 1;
    border-radius: 50%; // 0 0 50%;
    width: 70%;
    @include breakpoint(sm) {
      border-radius: 50% 0 0 50%;
      height: 100%;
      width: 50%;
    }
  }
  .information {
    flex: 1;
    @include flexCenterColumn($flow: column);

    .name {
      @include fontCenter($size: $font-size-xl);
    }

    .description {
      @include fontCenter($size: $font-size);
    }
  }
}
