@import './../../sass/variables';

.experience {
  .item {
    @include flexCenterColumn($flow: column);
    box-sizing: border-box;

    h1 {
      font-size: $font-size-l;
    }

    h2 {
      font-size: $font-size * 1.5;
    }

    p {
      font-size: $font-size;
    }
  }
}

