@import './../../sass/variables';

.experience {
  .item, .description {
    @include flexCenterColumn($flow: column);
    box-sizing: border-box;

    .company {
      font-size: $font-size-xl;
      font-style: normal;

    }

    .time {
      font-size: ($font-size+$font-size-l)/2; // mean value from  big and normal font
    }

    p {
      font-size: $font-size;
    }

  }

  @include breakpoint(sm) {
    .item {
      flex-flow: row;

      img {
        width: 20%;
        @include square(20vw);
      }

      .description {
        width: 100%;
        height: 100%;
        flex-flow: column;


        .company {
          flex-basis: 100%;


        }

        .time {
          flex-basis: 100%;
        }

        p {
          flex-basis: 100%;
        }
      }
    }


  }

}

