<div class="experience">
  <div *ngFor="let item of experience" class="item">
    <img src="{{item.imgSrc}}"/>
    <div class="description">
      <div class="company">
        {{ (item.company)|translate |uppercase}}
      </div>
      <div class="time">{{(duration(item) + ' ' + ('duration.month'|translate))|uppercase }} </div>
      <div class="time">({{(item.startDate)|monthDate |async|titlecase}}-{{(item.endDate)|monthDate|async|titlecase}})
      </div>
      <p>
        {{(item.description)|translate}}
      </p>
    </div>

  </div>
</div>
