@import './../../sass/variables';
.tech-stack {
  $icon-size: 30vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  .item {
    @include square($icon-size);
    @include maxSquareWidth(30vh);
    box-sizing: border-box;

    a {
      img {
        @include square($icon-size);
        @include maxSquareWidth(30vh);
      }
    }

  }
}
