@import './../../sass/variables';
.tech-stack {
  $icon-size: 5em;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .item {
    height: $icon-size;
    width: $icon-size;
    box-sizing: border-box;

    a {
      img {
        height: $icon-size;
        width: $icon-size;
      }
    }

  }
}
