<div class="tech-stack">
  <!--html-->
  <div class="item">
    <a href="https://developer.mozilla.org/">
      <img alt="html5" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg"/>
    </a>
  </div>
  <!--angular-->
  <div class="item">
    <a href="https://angular.io/">
      <img alt="html5" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"/>
    </a>
  </div>
  <!--sass-->
  <div class="item">
    <a href="https://sass-lang.com/">
      <img alt="html5" src="https://upload.wikimedia.org/wikipedia/commons/9/96/Sass_Logo_Color.svg"/>
    </a>
  </div>
  <!--nestjs-->
  <div class="item">
    <a href="https://nestjs.com/">
      <img alt="html5" src="./assets/logos/nestjs-seeklogo.com.svg"/>
    </a>
  </div>
  <!--  react-->
  <div class="item">
    <a href="https://reactjs.org/">
      <img alt="html5" src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg"/>
    </a>
  </div>


</div>
