<app-header class="app-header"></app-header>
<app-translation></app-translation>
<app-navigation class=".app-navigation">
  <app-section id="technologies">
    <app-tech-stack></app-tech-stack>
  </app-section>
  <app-section id="skills">
    <app-skills></app-skills>
  </app-section>
  <app-section id="experience">
    <app-experience></app-experience>
  </app-section>
  <app-section id="projects">
    <app-pojects></app-pojects>
  </app-section>
</app-navigation>
<app-pdf></app-pdf>
<app-footer></app-footer>
