/@import './../../sass/variables';
//@import '/src/sass/mixins';

@mixin nav-bar() {
  @include breakpoint(sm) {
    display: block;
    position: sticky;
    height: 3em;
    right: 0;
    top: 0;
    padding: 0 1em 0 0;

    color: $font-color;
    width: 100%;
    //bottom: 3.9em;
    ul {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
    }
  }
}

@mixin hideHamburger() {
  @include breakpoint(sm) {
    display: none;
  }
}

.nav {
  @include hideHamburger();
  box-sizing: border-box;
  position: absolute;
  right: 0.7em;
  top: 0.5em;
  display: flex;
  justify-content: flex-end;

  .hamburger-button {
    @include icon('../../assets/icons/menu_black_24dp.svg');
    padding: 1.7em;
    box-sizing: border-box;
    color: $font-color;
    border-radius: 0.25em;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  }
}

.content-wrapper {
  box-sizing: border-box;
  width: 80%;
  margin: 0% 10%;
  background: $background-color;
  @include breakpoint(sm) {
    position: relative;
    top: -3em;
  }

  nav {
    position: absolute;
    color: $font-color;
    right: 0.7em;
    top: 3.9em;
    background: $background-color;
    border-radius: 0.25em;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

    ul {
      width: 15em;
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      justify-content: stretch;

      li {
        height: 3em;
        display: flex;

        &:hover {
          background: $glass-icon;
        }

        a {
          flex-grow: 1;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: $font-color;
        }
      }
    }
  }

  nav.display-none {
    display: none;
    @include nav-bar;
  }

  nav.display {
    @include nav-bar;
  }
}
