/* You can add global styles to this file, and also import other style files */

$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);

html {
  font-size: 62.5%;

  body {
    padding: 0;
    margin: 0;
    background: url("./assets/images/overlay.png"),
    linear-gradient(45deg, #e37682 15%, #5f4d93 85%);

  }
}
