@import './../../sass/variables';


.translations {
  z-index: 10;
  height: $nav-bar-height;
  position: absolute;
  right: 4.8em;
  top: 0.5em;
  display: flex;
  justify-content: flex-end;
  $font-color: colorPalate(light);
  color: $font-color;
  @include breakpoint(sm) {
    right: 1em;
    top: 1em;
  }

  .select-wrapper {
    width: $translation-width;

    .select {
      @include fontCenter($font-size);
      width: 100%;
      box-sizing: border-box;
      background: url('../../assets/icons/translate_white_24dp.svg') no-repeat left 1em center,
      url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
      colorPalate(dark);
    }

    .options-wrapper {
      width: $translation-width;
      background: colorPalate(dark);
      color: white;
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    }

    .select-option {
      padding: 1em;
      box-sizing: border-box;

      &:hover {
        background: colorPalate(light);
        color: colorPalate(dark);
      }
    }
  }
}
