$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
.translations {
  font-size: 1rem;
  position: absolute;
  right: 4.8em;
  top: 0.5em;
  display: flex;
  justify-content: flex-end;

  .select-wrapper {
    .select {
      padding: 1em 4em;
      box-sizing: border-box;
      background: url("../../assets/icons/translate_white_24dp.svg") no-repeat left 0.5em, center,
      url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, $glass-icon 3em, $glass 3em);
      color: white;
      border-radius: 0.25em;
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    }

    .options-wrapper {
      width: 20em;
      background: $glass;
      color: white;
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    }

    .select-option {
      padding: 1em;
      box-sizing: border-box;

      &:hover {
        background: $glass-icon;
      }
    }
  }
}

